<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Appointment Details</title>
  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- My style sheet -->
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>

  <div class="banner">
    <img class="medicalBanner" src="http://drakash.com.au/images/logo_obgyn.png" alt="">
    <!-- Edit -->
    <a class="rightBanner" href="/book/edit/<%=booking.id%>">Edit</a>

  </div>
  <div class="patientContainer">
<div class="patientDets">
  <br>

  <h5>Patient Name: <b><span><%=booking.name%></span></b></h5>

  <h5>Reason for Visit: <b><span><%=booking.reason%></span></b></h5>

  <h5>Details: <b><span><%=booking.details%></span></b></h5>

  <h6>Current Status : <span><b><%=booking.status%></b></span></h6>


  <!-- Status button -->
  <% if(booking.status === 'unconfirmed') { %>

    <!-- Mark Confirmed -->
    <a href="/confirmed/<%=booking.id%>"><button class="appsBtns">Mark as <b>Confirmed</b></button></a>

<% } else if (booking.status === 'confirmed') { %>

  <!-- Mark Completed -->
  <a href="/completed/<%=booking.id%>"><button class="appsBtns">Mark as <b>Completed</b></button></a>

<% } else {  %>
  <!-- Delete -->
  <a href="/del/<%=booking.id%>"><button class="appsBtns"><b>Delete <i class="fa fa-trash-o" aria-hidden="true"></i></b></button></a>
<% } %>

</div>
</div>
<!-- End of grid -->
<div class="notesContainer">
  <h2>Notes:</h2>

    <% for(var i = 0; i < drNotes.length; i++) {  %>
      <div class="itemBG notes">

          <p>
            <%= drNotes[i].content %>
          </p>

          <!-- Delete Comment -->
          <h6><a href="/del/note/<%= drNotes[i].id %>">
            <i class=" trashcan fa fa-trash" aria-hidden="true"></i>
          </a></h6>
          </div>
        <% } %>
</div>
  <!-- Add note -->
  <form action="/notes/<%= booking.id %>" method="post">
    <textarea name="content" rows="8" cols="40" placeholder="Enter a new Note"></textarea>
    <br>
    <input type="submit">
  </form>

</body>

</html>
