<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Booking</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- My style sheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

  <h1>Edit Booking</h1>
  <br>

  <form class="" action="/book/edit/<%= booking.id %>" method="post">

    <input type="text" name="name" value="<%= booking.name %>">
    <input type="date" name="date" value="<%= booking.date %>">
    <input type="text" name="reason" value="<%= booking.reason %>">
    <input type="text" name="details" value="<%= booking.details %>">
    <input type="submit" value="Update">

  </form>

  </body>
</html>
